<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boards">

	<!-- mybatis-config.xml의 typeAlias에 등록해두지 않았다면이렇게 해야 한다. -->
	<select id="boardtest"
		resultType="com.ryeom.demo.board.DTO.Boards">
		select board_Number, board_Title, board_Date, user_Name
		from bbb.board_table as a INNER JOIN bbb.user_table as b
		ON
		a.board_Writer = b.user_Number;
	</select>

	<insert id="insertContents">
		insert into board_table (board_Title,
		board_Writer,board_Date, board_Contents)
		values(#{board_Title},#{board_Writer},#{board_Date},#{board_Contents});
	</insert>
	<!-- <select id="selectMember" resultType="MemberVO"> SELECT USER_ID, USER_PW 
		,NAME FROM USER </select> -->
</mapper>